<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.appodeal.plugin"
    version="0.1">
    <name>Appodeal Plugin</name>
    <description>Appodeal Plugin</description>
    <author>Appodeal</author>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/appodeal.js" name="AppodealPlugin">
        <clobbers target="Appodeal" />
    </js-module>

    
    
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AppodealPlugin" >
                <param name="android-package" value="com.appodeal.plugin.AppodealPlugin"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
		
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:name="com.appodeal.ads.AdActivity"
				android:configChanges="orientation|screenSize"
				android:theme="@android:style/Theme.Translucent.NoTitleBar" />

			<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
			<activity android:name="com.google.android.gms.ads.AdActivity"
				android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
				android:theme="@android:style/Theme.Translucent" />

			<activity android:name="com.chartboost.sdk.CBImpressionActivity"
				android:theme="@android:style/Theme.Translucent"
				android:excludeFromRecents="true" />

			<meta-data android:name="applovin.sdk.key"
				android:value="TA7nlRNu4oiZ7PWQ-ip1L4dWvS3ZNwkw5rhqG3hLrOvypQMo79pTER_7u3hF-PA3EstUvZrlykgm82TGCMlQok"/>
			<activity android:name="com.applovin.adview.AppLovinInterstitialActivity" />

			<activity android:name="com.mopub.mobileads.MoPubActivity"
				android:configChanges="keyboardHidden|orientation|screenSize" />
			<activity android:name="com.mopub.common.MoPubBrowser"
				android:configChanges="keyboardHidden|orientation|screenSize" />
			<activity android:name="com.mopub.mobileads.MraidActivity"
				android:configChanges="keyboardHidden|orientation|screenSize" />
			<activity android:name="com.mopub.mobileads.MraidVideoPlayerActivity"
				android:configChanges="keyboardHidden|orientation|screenSize" />

			<activity android:name="org.nexage.sourcekit.mraid.MRAIDBrowser"
				android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
				android:theme="@android:style/Theme.Translucent" />
        </config-file>
        
        <source-file src="src/android/AppodealPlugin.java" target-dir="src/com/appodeal/plugin" />
        <source-file src="libs/Appodeal.jar" target-dir="libs" />
		<source-file src="libs/applovin-sdk-5.4.2.jar" target-dir="libs" />
		<source-file src="libs/chartboost-4.0.1.jar" target-dir="libs" />
		<source-file src="libs/google-play-services.jar" target-dir="libs" />
		<source-file src="libs/android-support-v4.jar" target-dir="libs" />
		
    </platform>

</plugin>